.Rproj.user
.Rhistory
.RData
pct-data
pct-bigdata
pct-shiny
private-data
tmp
figure
*.html
*.pdf
*shinyapps*
*.docx
*.tex
*.aux
*.log
*.gz
*.toc
*.mdb
*.accb
*.orig
*.html
load.md
wu03ew_v2.csv
load.R
WU01BEW_msoa.txt
reminder_on_the_conditions_of_use.txt
infuse_dist_lyr_2011.tgz
cbs neighbourhoods.zip
load_files
minidocs/rsconnect/
